<div id="body-wrapper">
	<div id="main-wrapper">
		<div id="wrapper">
				<p id = "nameAuth">Check your email</p>
			<form>
				<div class="form-group">
					<label for="inputEmail">Ми відіслали код підтвердження на твій email, введи цей код, будь ласка, у нижнє поле:</label>
					<input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
				</div>
			
				<button type="submit" class="btn btn-primary">Send code</button>
			</form>
			
		</div>
	</div>
</div>

