<div class="banner"></div>
	<div class="main-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-0"></div>
				<div class="main-content-padding col-lg-10 col-md-10 col-sm-12" >
					<h2>Welcome to our club!</h2>
					<p id = "mc-text-after-title">
					Напевне кожен хоче вдосконалити рівень англійської і в кожного до цього свої потреби. Кожен із нас намагається <span> збільшити свій словниковий запас</span>, проте стикається із проблемою браку часу, лінью чи відсутністю простих ненав'язливих сервісів.</p>
					<h3> Тепер твоя проблема вирішена.</h3>
					<p id = "mc-text-after-problem">Просто зареєструйся і встанови додаток у своєму браузері і ти отримаєш можливість:</p> 
					
					<div class="fluid-container mc-list-opportunity">
						<div class="row">
							<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class = "opportunity1">швидко, доступно і головне просто вивчати англійські слова</div> 
							</div>
							<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12" >
								<div class = "opportunity2">всього 5 хвилин на день і 12 слів вже у твоїй голові</div>
							</div>
							<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class = "opportunity3">за один місяць ти зможеш вивчити близько 180 слів а за один рік понад 2000</div>
							</div>	
						</div>
					</div>
					
					<h3>Для цього тобі потрібно</h3>
					
					<div class="fluid-container mc-list-sequence">
						<div class="row">
							<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class = "opportunity1">Зареєструватися в цьому сервісі</div> 
							</div>
							<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class = "opportunity2">встановити в браузері Chrome додаток EasyStudyWords</div>
							</div>
							<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class = "opportunity3">Клікни на додаток і тренуйся!!!</div>
							</div>	
						</div>
					</div>
				
				</div>
				<div class="col-lg-1 col-md-1 col-sm-0"></div>
			</div>
		</div>
		 
	</div>